@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./prism.css";

// Overrides
a {
  color: rgb(10, 100, 80);
  font-weight: bold;

  &:hover {
    color: rgb(0, 90, 70);
  }

  &:not(.underline) {
    text-decoration: none;
  }
}